<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="styleguide.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="element-daily-prices">
    <div class="content">
      <div class="element-frame">
        <div class="div">
          <div class="element-text">FeSi</div>
          <img class="img" src="img/1016-frame.svg" />
        </div>
        <div class="element-frame-2">
          <div class="element-frame-3" id="0">
            <div class="element-group">
              <div class="text-wrapper">FeSi75;<br />EXW B. Монголия</div>
            </div>
          </div>
          <div class="element-frame-3" id="1">
            <div class="element-group">
              <div class="text-wrapper">FeSi75;<br />FOB Китай</div>
            </div>
          </div>
          <div class="element-frame-3" id="2">
            <div class="element-group">
              <div class="text-wrapper">FeSi75;<br />DDP Европа</div>
            </div>
          </div>
          <div class="element-frame-3" id="3">
            <div class="element-group">
              <div class="text-wrapper">FeSi75;<br />EXW США</div>
            </div>
          </div>
        </div>
      </div>
      <div class="element-frame">
        <div class="div">
          <div class="element-text">SiMn и FeMn</div>
          <img class="img" src="img/1082-frame.svg" />
        </div>
        <div class="element-frame-2">
          <div class="element-frame-3" id="4">
            <div class="element-group">
              <div class="text-wrapper">SiMn 65/17;<br />EXW Гуанси</div>
            </div>
          </div>
          <div class="element-frame-3" id="5">
            <div class="element-group">
              <div class="text-wrapper">SiMn 65/16;<br />FOB Индия</div>
            </div>
          </div>
          <div class="element-frame-3" id="6">
            <div class="element-group">
              <div class="text-wrapper">SiMn 65/17;<br />EXW США</div>
            </div>
          </div>
          <div class="element-frame-3" id="7">
            <div class="element-group">
              <div class="text-wrapper">SiMn 65/17;<br />DDP Европа</div>
            </div>
          </div>
          <div class="element-frame-3" id="8">
            <div class="element-group">
              <div class="text-wrapper">FeMn76;<br />DDP Европа</div>
            </div>
          </div>
        </div>
      </div>
      <div class="element-frame">
        <div class="div">
          <div class="element-text">Mn руда</div>
          <img class="img" src="img/1163-frame.svg" />
        </div>
        <div class="element-frame-2">
          <div class="element-frame-3" id="9">
            <div class="element-group">
              <div class="text-wrapper">36–38% Mn, кусковая;<br />CIF Китай</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tags">
      <div class="element-text-11">Продукция</div>
      <div class="element-text-12">Цена</div>
      <div class="element-text-13">Изменения относительно предыдущего периода</div>
      <div class="element-text-14">За день</div>
      <div class="element-text-15">За неделю</div>
      <div class="element-text-16">За месяц</div>
    </div>
    <div class="subtitle">Кремний и марганец</div>
    <div class="title">Ферросплавы и руды</div>
    <div class="date">
      <div class="element-frame-5">
        <div class="element-text-wrapper">
          <div class="element-text-17">Ежедневная сводка цен</div>
        </div>
        <img class="element-vector" src="img/1190-vector.svg" />
      </div>
      <div class="element-frame-6">
        <img class="element-vector" src="img/1187-vector.svg" />
        <div class="div-wrapper">
          <div class="element-text-18" id="time">16.10.2023 г</div>
        </div>
        <img class="element-vector" src="img/1190-vector.svg" />
      </div>
    </div>
    <img class="logo" src="img/logo.png" />
  </div>
</body>

</html>