<head>
    <link rel="stylesheet" href="globals.css">
    <link rel="stylesheet" href="styleguide.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="element-daily-prices">
      <div class="content">
        <div class="div">
          <div class="element-frame">
            <div class="element-text">Заготовка</div>
            <img class="img" src="img/599-frame.svg">
          </div>
          <div class="element-frame-2">
            <div class="element-frame-3" id="0">
              <div class="element-group">
                <div class="text-wrapper">130×130 мм, Ст3сп;<br>FOB Россия</div>
              </div>
            <div class="item-values-frame"><div class="item-value-text-neutral-main">17500</div><div class="item-value-text-neutral-sub">₽/т</div></div><div class="item-values-frame"><div class="item-value-text-negative-main">-300</div><div class="item-value-text-negative-sub">-5%</div></div><div class="item-values-frame"><div class="item-value-text-positive-main">+100</div><div class="item-value-text-positive-sub">+2%</div></div><div class="item-values-frame"><div class="item-value-text-negative-main">-100</div><div class="item-value-text-negative-sub">-3.85%</div></div></div>
          </div>
        </div>
        <div class="div">
          <div class="element-frame-6">
            <div class="element-text">Рулон г/к</div>
            <img class="img" src="img/635-frame.svg">
          </div>
          <div class="element-frame-2">
            <div class="element-frame-3" id="1">
              <div class="element-group">
                <p class="text-wrapper">3 мм, SAE 1006;<br>FOB Россия</p>
              </div>
            <div class="item-values-frame"><div class="item-value-text-neutral-main">17500</div><div class="item-value-text-neutral-sub">₽/т</div></div><div class="item-values-frame"><div class="item-value-text-negative-main">-300</div><div class="item-value-text-negative-sub">-5%</div></div><div class="item-values-frame"><div class="item-value-text-positive-main">+100</div><div class="item-value-text-positive-sub">+2%</div></div><div class="item-values-frame"><div class="item-value-text-negative-main">-100</div><div class="item-value-text-negative-sub">-3.85%</div></div></div>
            <div class="element-frame-3" id="2">
              <div class="element-group">
                <p class="text-wrapper">2,5 мм, SAE 1006;<br>FOB Индия</p>
              </div>
            </div>
            <div class="element-frame-3" id="3">
              <div class="element-group">
                <p class="text-wrapper">1,5–20 мм;<br>EXW Россия (без НДС)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="div">
          <div class="element-frame-7">
            <div class="element-text">Рулон х/к</div>
            <img class="img" src="img/686-frame.svg">
          </div>
          <div class="element-frame-2">
            <div class="element-frame-3" id="4">
              <div class="element-group">
                <div class="text-wrapper">0,9 мм, SPCC;<br>FOB Россия</div>
              </div>
            </div>
            <div class="element-frame-3" id="5">
              <div class="element-group">
                <div class="text-wrapper">0,9 мм, SPCC;<br>FOB Индия</div>
              </div>
            </div>
            <div class="element-frame-3" id="6">
              <div class="element-group">
                <p class="text-wrapper">0,5–1,5 мм;<br>EXW Россия (без НДС)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="div">
          <div class="element-frame-8">
            <div class="element-text">Арматура</div>
            <img class="img" src="img/737-frame.svg">
          </div>
          <div class="element-frame-2">
            <div class="element-frame-3" id="7">
              <div class="element-group">
                <div class="text-wrapper">12–32 мм, Ст3сп;<br>FOB Россия</div>
              </div>
            </div>
            <div class="element-frame-3" id="8">
              <div class="element-group">
                <div class="text-wrapper">A1;<br>EXW Россия (без НДС)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tags">
        <div class="element-text-9">Продукция</div>
        <div class="element-text-10">Цена</div>
        <div class="element-text-11">Изменения относительно предыдущего периода</div>
        <div class="element-text-12">За день</div>
        <div class="element-text-13">За неделю</div>
        <div class="element-text-14">За месяц</div>
      </div>
      <div class="title">Стальная продукция</div>
      <div class="date">
        <div class="element-frame-9">
          <div class="element-text-wrapper"><div class="element-text-15">Ежедневная сводка цен</div></div>
          <img class="element-vector" src="img/779-vector.svg">
        </div>
        <div class="element-frame-10">
          <img class="element-vector" src="img/776-vector.svg">
          <div class="div-wrapper"><div class="element-text-16" id="time">16.10.2023</div></div>
          <img class="element-vector" src="img/779-vector.svg">
        </div>
      </div>
      <img class="logo" src="img/logo.png">
    </div>
  

</body>