<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="styleguide.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="element-daily-prices">
    <div class="content">
      <div class="item">
        <div class="item-name-frame">
          <div class="item-name-text">Железорудное сырье</div>
          <img class="img" src="img/200-frame.svg" />
        </div>
        <div class="item-values-wrapper">
          <!--this is item row-->
          <div class="item-values-row-frame" id="0">
            <div class="item-name-group">
              <div class="text-wrapper">62% Fe; <br />CNF Китай</div>
            </div>
            <!--item price changes go here-->
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-name-frame">
          <div class="item-name-text">Уголь</div>
          <img class="img" src="img/221-frame.svg" />
        </div>
        <div class="item-values-wrapper">
          <div class="item-values-row-frame" id="1">
            <div class="item-name-group">
              <div class="text-wrapper">коксующийся, Австралия;<br />CFR Китай</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-name-frame">
          <div class="item-name-text">Кокс</div>
          <img class="img" src="img/241-frame.svg" />
        </div>
        <div>
          <div class="item-values-row-frame" id="2">
            <div class="item-name-group">
              <div class="text-wrapper">металлургический; <br />FOB Китай</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-name-frame">
          <div class="item-name-text">Лом</div>
          <img class="img" src="img/261-frame.svg" />
        </div>
        <div class="item-values-row-frame" id="3">
          <div class="item-name-group">
            <div class="text-wrapper">HMS 1&amp;2 (80:20);<br />CNF Турция</div>
          </div>
        </div>
        <div class="item-values-row-frame" id="4">
          <div class="item-name-group">
            <div class="text-wrapper">3A;<br />СРТ Урал (без НДС)</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-name-frame">
          <div class="item-name-text">Губчатое железо</div>
          <img class="img" src="img/296-frame.svg" />
        </div>
        <div class="item-values-row-frame" id="5">
          <div class="item-name-group">
            <div class="text-wrapper">80% Fe; куски;<br />DAP Индия</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-name-frame">
          <div class="item-name-text">Чугун</div>
          <img class="img" src="img/316-frame.svg" />
        </div>
        <div class="item-values-row-frame" id="6">
          <div class="item-name-group">
            <div class="text-wrapper">передельный;<br />FOB Россия</div>
          </div>

        </div>
        <div class="item-values-row-frame" id="7">
          <div class="item-name-group">
            <div class="text-wrapper">передельный;<br />FOB Индия</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tags">
      <div class="element-text-9">Продукция</div>
      <div class="element-text-10">Цена</div>
      <div class="element-text-11">Изменения относительно предыдущего периода</div>
      <div class="element-text-12">За день</div>
      <div class="element-text-13">За неделю</div>
      <div class="element-text-14">За месяц</div>
    </div>
    <div class="overlap">
      <div class="title">Сырьевые материалы</div>
      <div class="overlap-group">
        <div class="date">
          <div class="element-frame-4">
            <div class="element-text-wrapper">
              <div class="element-text-15">Ежедневная сводка цен</div>
            </div>
            <img class="element-vector" src="img/357-vector.svg" />
          </div>
          <div class="element-frame-5">
            <img class="element-vector-2" src="img/354-vector.svg" />
            <div class="div-wrapper">
              <div class="element-text-16" id="time">04.10.2023 г</div>
            </div>
            <img class="element-vector" src="img/357-vector.svg" />
            <div class="element-text-15">23 Сентябрь 2020</div>
          </div>
        </div>
        <img class="logo" src="img/logo.png" />
      </div>
    </div>
  </div>
</body>

</html>