<head>
    <link rel="stylesheet" href="globals.css">
    <link rel="stylesheet" href="styleguide.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="element-daily-prices">
      <div class="content">
        <div class="element-frame">
          <div class="div">
            <div class="element-text">HC FeCr</div>
            <img class="img" src="img/1413-frame.svg">
          </div>
          <div class="element-frame-2">
            <div class="element-frame-3" id="0">
              <div class="element-group">
                <p class="text-wrapper">55% Cr, 10% C;<br>EXW B. Монголия</p>
              </div>
            <div class="item-values-frame"><div class="item-value-text-neutral-main">17500</div><div class="item-value-text-neutral-sub">₽/т</div></div><div class="item-values-frame"><div class="item-value-text-negative-main">-300</div><div class="item-value-text-negative-sub">-5%</div></div><div class="item-values-frame"><div class="item-value-text-positive-main">+100</div><div class="item-value-text-positive-sub">+2%</div></div><div class="item-values-frame"><div class="item-value-text-negative-main">-100</div><div class="item-value-text-negative-sub">-3.85%</div></div></div>
            <div class="element-frame-3" id="1">
              <div class="element-group">
                <p class="text-wrapper">Казахстан, 70% Cr, 0,5% Si;<br>CIF Китай</p>
              </div>
            <div class="item-values-frame"><div class="item-value-text-neutral-main">17500</div><div class="item-value-text-neutral-sub">₽/т</div></div><div class="item-values-frame"><div class="item-value-text-negative-main">-300</div><div class="item-value-text-negative-sub">-5%</div></div><div class="item-values-frame"><div class="item-value-text-positive-main">+100</div><div class="item-value-text-positive-sub">+2%</div></div><div class="item-values-frame"><div class="item-value-text-negative-main">-100</div><div class="item-value-text-negative-sub">-3.85%</div></div></div>
            <div class="element-frame-3" id="2">
              <div class="element-group">
                <p class="text-wrapper">Индия, 60% Cr, 4% Si;<br>CIF Китай</p>
              </div>
            </div>
            <div class="element-frame-3" id="3">
              <div class="element-group">
                <p class="text-wrapper">ЮАР, 48–50% Cr, 5% Si;<br>CIF Китай</p>
              </div>
            </div>
            <div class="element-frame-3" id="4">
              <div class="element-group">
                <div class="text-wrapper">62–70% Cr;<br>DDP Европа</div>
              </div>
            </div>
          </div>
        </div>
        <div class="element-frame">
          <div class="element-frame-5">
            <div class="element-text">LC FeCr</div>
            <img class="img" src="img/1494-frame.svg">
          </div>
          <div class="element-frame-2">
            <div class="element-frame-3" id="5">
              <div class="element-group">
                <p class="text-wrapper">52–60% Cr; 0,25% C;<br>EXW B. Монголия</p>
              </div>
            </div>
            <div class="element-frame-3" id="6">
              <div class="element-group">
                <div class="text-wrapper">0,1% C;<br>DDP Европа</div>
              </div>
            </div>
            <div class="element-frame-3" id="7">
              <div class="element-group">
                <div class="text-wrapper">0,1% С; <br>EXW США</div>
              </div>
            </div>
          </div>
        </div>
        <div class="element-frame">
          <div class="element-frame-6">
            <div class="element-text-11">Cr руда</div>
            <img class="img" src="img/1545-frame.svg">
          </div>
          <div class="element-frame-2">
            <div class="element-frame-3" id="8">
              <div class="element-group">
                <div class="text-wrapper">42% Cr;<br>CIF Китай</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tags">
        <div class="element-text-12">Продукция</div>
        <div class="element-text-13">Цена</div>
        <div class="element-text-14">Изменения относительно предыдущего периода</div>
        <div class="element-text-15">За день</div>
        <div class="element-text-16">За неделю</div>
        <div class="element-text-17">За месяц</div>
      </div>
      <div class="subtitle">Хром</div>
      <div class="title">Ферросплавы и руды</div>
      <div class="date">
        <div class="element-frame-7">
          <div class="element-text-wrapper"><div class="element-text-18">Ежедневная сводка цен</div></div>
          <img class="element-vector" src="img/1190-vector.svg">
        </div>
        <div class="element-frame-8">
          <img class="element-vector" src="img/1187-vector.svg">
          <div class="div-wrapper"><div class="element-text-19" id="time">16.10.2023</div></div>
          <img class="element-vector" src="img/1190-vector.svg">
        </div>
      </div>
      <img class="logo" src="img/logo.png">
    </div>
  

</body>